openfaasPro: false

pro:
  image: ghcr.io/openfaasltd/cron-connector:0.2.5

image: ghcr.io/openfaas/cron-connector:0.6.1

logs:
  # Log debug messages
  debug: false
  # Set the log format, supports console or json
  format: "console"

# Invoke via the asynchronous function endpoint
asyncInvocation: false

# Set a contentType for all invocations
contentType: text/plain

# Time between querying the gateway for cron schedules
rebuildInterval: 30s

gatewayURL: http://gateway.openfaas:8080

nodeSelector: {}

tolerations: []

affinity: {}

basicAuth: true

iam:
  enabled: false
  # URL for the OpenFaaS system components issuer.
  # This is usually the public url of the gateway.
  systemIssuer:
    url: "https://gateway.example.com"
  # URL for the Kubernetes service account issuer.
  kubernetesIssuer:
    url: https://kubernetes.default.svc.cluster.local
  resource: ["*"]

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  # limits:
  #   memory: "256Mi"
