functionNamespace:

async: true

exposeServices: true
serviceType: NodePort
rbac: true
securityContext: true
basic_auth: true

# image pull policy for openfaas components, can change to `IfNotPresent` in offline env
openfaasImagePullPolicy: "Always"

gateway:
  image: openfaas/gateway:0.14.4
  readTimeout : "65s"
  writeTimeout : "65s"
  upstreamTimeout : "60s"  # Must be smaller than read/write_timeout
  replicas: 1
  scaleFromZero: true
  # change the port when creating multiple releases in the same baremetal cluster
  nodePort: 31112
  maxIdleConns: 1024
  maxIdleConnsPerHost: 1024

faasnetes:
  image: openfaas/faas-netes:0.8.0
  readTimeout : "60s"
  writeTimeout : "60s"
  imagePullPolicy : "Always"    # Image pull policy for deployed functions
  httpProbe: false              # Setting to true will use HTTP for readiness and liveness (incompatible with Istio < 1.1.5)
  setNonRootUser: false
  readinessProbe:
    initialDelaySeconds: 0
    timeoutSeconds: 1           # Tuned-in to run checks early and quickly to support fast cold-start from zero replicas
    periodSeconds: 1
  livenessProbe:
    initialDelaySeconds: 3
    timeoutSeconds: 1
    periodSeconds: 10

# replaces faas-netes with openfaas-operator
operator:
  image: openfaas/openfaas-operator:0.9.7
  create: false
  # set this to false when creating multiple releases in the same cluster
  # must be true for the first one only
  createCRD: true

queueWorker:
  image: openfaas/queue-worker:0.7.2
  ackWait : "60s"
  replicas: 1
  gatewayInvoke: true

# monitoring and auto-scaling components
# both components
prometheus:
  image: prom/prometheus:v2.7.1
  create: true

alertmanager:
  image: prom/alertmanager:v0.16.1
  create: true

# async provider
nats:
  image: nats-streaming:0.11.2
  enableMonitoring: false

# ingress configuration
ingress:
  enabled: false
  # Used to create Ingress record (should be used with exposeServices: false).
  hosts:
    - host: gateway.openfaas.local  # Replace with gateway.example.com if public-facing
      serviceName: gateway
      servicePort: 8080
      path: /
  annotations:
    kubernetes.io/ingress.class: nginx
  tls:
    # Secrets must be manually created in the namespace.

# faas-idler configuration
faasIdler:
  image: openfaas/faas-idler:0.1.9
  replicas: 1
  create: true
  inactivityDuration: 15m               # If a function is inactive for 15 minutes, it may be scaled to zero
  reconcileInterval: 1m                 # The interval between each attempt to scale functions to zero
  dryRun: true                          # Set to true to enable the idler to apply changes and scale to zero

basicAuthPlugin:
  image: openfaas/basic-auth-plugin:0.1.1
  replicas: 1

nodeSelector: {}

tolerations: []

affinity: {}

kubernetesDNSDomain: cluster.local
