{{- $functionNs := default .Release.Namespace .Values.functionNamespace }}
{{- if .Values.operator.create }}
{{- if .Values.createCRDs }}

apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.0
  creationTimestamp: null
  name: functions.openfaas.com
spec:
  group: openfaas.com
  names:
    kind: Function
    listKind: FunctionList
    plural: functions
    singular: function
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Function describes an OpenFaaS function
        type: object
        required:
        - spec
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FunctionSpec is the spec for a Function resource
            type: object
            required:
            - image
            - name
            properties:
              annotations:
                type: object
                additionalProperties:
                  type: string
              constraints:
                type: array
                items:
                  type: string
              environment:
                type: object
                additionalProperties:
                  type: string
              handler:
                type: string
              image:
                type: string
              labels:
                type: object
                additionalProperties:
                  type: string
              limits:
                description: FunctionResources is used to set CPU and memory limits
                  and requests
                type: object
                properties:
                  cpu:
                    type: string
                  memory:
                    type: string
              name:
                type: string
              readOnlyRootFilesystem:
                type: boolean
              requests:
                description: FunctionResources is used to set CPU and memory limits
                  and requests
                type: object
                properties:
                  cpu:
                    type: string
                  memory:
                    type: string
              secrets:
                type: array
                items:
                  type: string
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []


---
{{- end }}
{{- end }}
