{{- if and .Values.async (not (eq .Values.queueMode "jetstream")) }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ template "openfaas.name" . }}
    chart: {{ .Chart.Name }}-{{ .Chart.Version }}
    component: queue-worker
    heritage: {{ .Release.Service }}
    release: {{ .Release.Name }}
  name: queue-worker
  namespace: {{ .Release.Namespace | quote }}
spec:
  replicas: {{ .Values.queueWorker.replicas }}
  selector:
    matchLabels:
      app: queue-worker
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "false"
      labels:
        app: queue-worker
    spec:
      volumes:
      {{- if .Values.basic_auth }}
      - name: auth
        secret:
          secretName: basic-auth
      {{- end }}

      {{- if .Values.openfaasPro }}
      - name: license
        secret:
          secretName: openfaas-license
      {{- end }}
      containers:
      - name:  queue-worker
        resources:
          {{- .Values.queueWorker.resources | toYaml | nindent 12 }}
        {{- if .Values.openfaasPro }}
        image: {{ .Values.queueWorkerPro.image }}
      {{- else }}
        image: {{ .Values.queueWorker.image }}
      {{- end }}
        imagePullPolicy: {{ .Values.openfaasImagePullPolicy }}
        {{- if .Values.openfaasPro }}
        command:
          - "/worker"
          - "-license-file=/var/secrets/license/license"
        {{- end }}
        env:
        {{- if .Values.nats.external.enabled }}
        - name: faas_nats_address
          value: "{{ .Values.nats.external.host }}"
        - name: faas_nats_port
          value: "{{ .Values.nats.external.port }}"
        - name: faas_nats_cluster_name
          value: "{{ .Values.nats.external.clusterName }}"
        {{- else }}
        - name: faas_nats_address
          value: "nats.{{ .Release.Namespace }}.svc.{{ .Values.kubernetesDNSDomain }}"
        {{- end}}
        - name: faas_nats_channel
          value: "{{ .Values.nats.channel }}"
        - name: faas_nats_queue_group
          value: "{{ .Values.queueWorker.queueGroup }}"
        - name: faas_gateway_address
          value: "gateway.{{ .Release.Namespace }}.svc.{{ .Values.kubernetesDNSDomain }}"
        {{- if .Values.functionNamespace }}
        - name: faas_function_suffix
          value: ".{{ .Values.functionNamespace }}.svc.{{ .Values.kubernetesDNSDomain }}"
        {{- end }}
        - name: ack_wait
          value: "{{ .Values.queueWorker.ackWait }}"
        - name: max_inflight
          value: "{{ or (.Values.queueWorkerPro.maxInflight) (.Values.queueWorker.maxInflight ) ("1") }}"

        # OpenFaaS PRO license required
        - name: "max_retry_attempts"
          value: "{{ .Values.queueWorkerPro.maxRetryAttempts }}"
        - name: "max_retry_wait"
          value: "{{ .Values.queueWorkerPro.maxRetryWait }}"
        - name: "initial_retry_wait"
          value: "{{ .Values.queueWorkerPro.initialRetryWait }}"
        - name: "retry_http_codes"
          value: "{{ .Values.queueWorkerPro.httpRetryCodes }}"
        - name: print_request_body
          value: "{{ .Values.queueWorkerPro.printRequestBody }}"
        - name: print_response_body
          value: "{{ .Values.queueWorkerPro.printResponseBody }}"
        {{- if .Values.openfaasPro }}
        - name: tls_insecure
          value: "{{ .Values.queueWorkerPro.insecureTLS }}"
        {{- end }}

        {{- if .Values.basic_auth }}
        - name: secret_mount_path
          value: "/var/secrets/gateway"
        - name: basic_auth
          value: "{{ .Values.basic_auth }}"
        volumeMounts:
        {{- if .Values.openfaasPro }}
        - name: license
          readOnly: true
          mountPath: "/var/secrets/license"
        {{- end }}
        - name: auth
          readOnly: true
          mountPath: "/var/secrets/gateway"
        {{- end }}
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
{{- end }}
