# The Postgres connector is an OpenFaaS Pro feature
#
# Purchase a license at https://openfaas.com/support/

# You will need to create a license named "openfaas-license" - see the
# chart README for detailed instructions.

image: ghcr.io/openfaasltd/postgres-connector:0.2.1

replicas: 1

# Secret containing connection string to the database
connectionSecret: postgresql-connection

# the publication name when using wal mode
publication: "ofltd"

# filters when using wal mode
filters: "customer:insert,customer:update,customer:delete"

logs:
  # Log debug messages
  debug: false
  # Set the log format, supports console or json
  format: "console"

# Max timeout for a function
upstreamTimeout: 120s

# interval for rebuilding the map of functions and topics
rebuildInterval: 30s

# Use with slow consumers or long running functions
asyncInvocation: false

# Gateway URL to access API and for invocations
gatewayURL: http://gateway.openfaas:8080

# Basic auth for the gateway
basic_auth: true

# Work in WAL mode instead of using triggers
wal: true

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  # limits:
  #   memory: "256Mi"
  #   cpu: "100m"

nodeSelector: {}

tolerations: []

affinity: {}
