# Access to the federated gateway can be requested by OpenFaaS customers
# Email us using your current channels for more.

image: ghcr.io/openfaasltd/federated-gateway:0.2.2
replicas: 1

# OpenFaaS gateway URL
gatewayURL: http://gateway.openfaas:8080

# OIDC Issuer to federate with
issuer: https://keycloak.example.com/realms/openfaas

# OIDC Audience to verify on tokens
audience: fed-gw.example.com

# Set to true if you want to invoke functions, leave as false to 
# only allow the /system endpoints to be accessed via the federated gateway
allowInvoke: false

logs:
  # Log debug messages
  debug: false
  # Set the log format, supports console or json
  format: "console"

nameOverride: ""
fullnameOverride: ""

resources:
  requests:
    memory: "64Mi"
    cpu: "100m"
  # limits:
  #   memory: "256Mi"
  #   cpu: "100m"

nodeSelector: {}

tolerations: []

affinity: {}
