# You will need to create a license named "openfaas-license" - see the 
# chart README for detailed instructions.

image: ghcr.io/openfaas/pro-builder:0.1.0-rc2

# Only set to true for testing
disableHmac: false

# Usually set to false
enableLchown: false

imagePullPolicy: Always

buildkit:
  image: moby/buildkit:v0.9.1

fullnameOverride: "pro-builder"

replicas: 1

nodeSelector: {}

tolerations: []

affinity: {}
