name: build

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    strategy:
      matrix:
        go-version: [1.17.x]
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@master
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Get Repo Owner
        id: get_repo_owner
        run: echo ::set-output name=repo_owner::$(echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]')
      - name: Get git commit
        id: get_git_commit
        run: echo "GIT_COMMIT=$(git rev-parse HEAD)" >> $GITHUB_ENV

      - name: Build x86_64 container into library
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          outputs: "type=docker,push=false"
          platforms: linux/amd64
          build-args: |
            GIT_COMMIT=dev-${{env.GIT_COMMIT}}
            VERSION=dev-${{env.GIT_COMMIT}}
          tags: |
            ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/faas-netes:${{ github.sha }}

      - name: Build multi-arch containers for validation only
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          outputs: "type=image,push=false"
          platforms: linux/amd64,linux/arm/v7,linux/arm64
          build-args: |
            GIT_COMMIT=dev-${{env.GIT_COMMIT}}
            VERSION=dev-${{env.GIT_COMMIT}}
          tags: |
            ghcr.io/${{ steps.get_repo_owner.outputs.repo_owner }}/faas-netes:${{ github.sha }}
 # Todo - load the image into Kind before running tests
 # otherwise, this just tests the chart with images that
 # have already been built and pushed in an earlier job
      - name: get tools
        run: ./contrib/get_tools.sh
      - name: lint chart
        run: ./contrib/lint_chart.sh
      - name: create cluster
        run: ./contrib/create_cluster.sh
      - name: deploy function
        run: OPERATOR=0 ./contrib/deploy.sh
      - name: run function
        run: OPERATOR=0 ./contrib/run_function.sh
      - name: stop dev cluster
        run: ./contrib/stop_dev.sh
      - name: wait 10 seconds
        run: sleep 10
      - name: create cluster
        run: ./contrib/create_cluster.sh
      - name: deploy function
        run: OPERATOR=1 ./contrib/deploy.sh
      - name: run function
        run: OPERATOR=1 ./contrib/run_function.sh
      - name: stop dev cluster
        run: ./contrib/stop_dev.sh

# The certifier should also be run here
#
