name: Validate Chart

on:
  push:
    paths:
      - chart/**
      - contrib/validate_chart.sh
      - contrib/lint_chart.sh
      - .github/workflows/helm.yaml
  pull_request:
    paths:
      - chart/**
      - contrib/validate_chart.sh
      - contrib/lint_chart.sh
      - .github/workflows/helm.yaml

jobs:
  lint-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: azure/setup-helm@v3
      - name: Helm Lint
        run: ./contrib/lint_chart.sh

  kubeval-chart:
    runs-on: ubuntu-latest
    needs:
      - lint-chart
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - uses: lra/setup-kubeval@v1
        with:
          version: v0.16.1
      - name: Run kubeval
        env:
          KUBEVAL_SCHEMA_LOCATION: "https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/"
          KUBERNETES_VERSION: v1.16.8 v1.17.4 v1.17.17 v1.18.6 v1.18.9 v1.20.4 v1.21.1
        run: ./contrib/lint_chart.sh
